<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.datainput.mapper.AnsrecordMapper">
  <resultMap id="BaseResultMap" type="com.lm.datainput.domain.Ansrecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="examid" jdbcType="INTEGER" property="examid" />
    <result column="selectans" jdbcType="VARCHAR" property="selectans" />
    <result column="sign" jdbcType="INTEGER" property="sign" />
    <result column="anstime" jdbcType="TIMESTAMP" property="anstime" />
    <result column="anser" jdbcType="VARCHAR" property="anser" />
    <result column="ansid" jdbcType="VARCHAR" property="ansid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
</mapper>